<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/455e59eb-b601-4784-b507-8ac6a664cc6a/v3/index.json" />
  </packageSources>
</configuration>