@page
@using Microsoft.AspNetCore.Mvc.Localization
@using IsteerPortal.Localization
@using IsteerPortal.Web.Pages.Customers
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using IsteerPortal.Customers;
@using System.Globalization
@inject IHtmlLocalizer<IsteerPortalResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Customers/EditModal" autocomplete="off">
    <abp-modal id="CustomerEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="Customer.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    

            <abp-input asp-for="Customer.Name"   />


            <abp-input asp-for="Customer.Website"   />


            <abp-input asp-for="Customer.EmailId"   />


            <abp-input asp-for="Customer.ContactNumber"   />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>